.navbar-brand {
  color: white !important;
  font-size: 1.6rem !important;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand:hover {
  color: rgb(31, 55, 48) !important;
}

.nav-link {
  margin-top: 3px;
  color: white !important;
  font-size: 1.2rem !important;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(31, 55, 48) !important;
}

.sign-btn {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.2rem !important;
}

.sign-btn:hover {
  /* background-color: #94a89c !important; */
  color: rgb(31, 55, 48) !important;
  border: none !important;
  box-shadow: none !important;
}

.sign-btn:focus,
.sign-btn:hover,
.sign-btn:not(:disabled):not(.disabled):active {
  box-shadow: none !important;
}

.nested-sign-btn {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem !important;
}

.nested-sign-btn {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem !important;
}

.no-bg:focus {
  background-color: transparent !important;
  color: rgb(142, 145, 149) !important;
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.3rem !important;
    letter-spacing: 0.1px;
  }

  .nav-link {
    margin-top: 3px;
    color: white !important;
    font-size: 1rem !important;
    font-family: 'Montserrat', sans-serif;
  }

  .sign-btn {
    font-size: 1rem !important;
    padding: 0 !important;
  }
}
