:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
  height: 100%;
}

li {
  list-style-type: none;
}

.social-icon:hover,
a:hover {
  color: #94a89c !important;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url('./Images/PublicImages/bg-food-img4.jpg');
  /* url('./Images/PublicImages/banner.png'); */
  opacity: var(--mainOpacity);
  height: 25em !important;
  background-size: cover;
  background-position: bottom;
  background-position-y: 70%;
  filter: brightness(1.5);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-container {
  min-height: 80vh;
}

.container-main {
  min-height: 65vh;
}

.carousel-container {
  background: red;
}

.main-color {
  background-color: rgb(36, 82, 56);
  background-color: rgb(6, 63, 47);
}
.main-color-text {
  margin-left: 0.5rem;
  color: rgb(6, 63, 47);
  font-weight: bold;
  text-decoration: none !important;
}

.gray-link {
  color: rgb(251, 249, 248);
  text-decoration: none;
}

.col-image-left {
  background-image: url('./Images/PublicImages/hero-image-1.png');
  height: 38em !important;
  background-size: cover;
  background-position: center center;
}

.col-image-right {
  background-image: url('./Images/PublicImages/hero-image-2.png');
  background-image: url('./Images/PublicImages/hero-image-2.png');
  height: 38em !important;
  background-size: cover;
  background-position: center center;
}

.hero-container {
  margin: 0 2rem;
}

.container-dash {
  background-size: cover;
  min-height: 70vh;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
}

.row-dash {
  width: 50%;
  margin: auto;
}

.search-bar {
  width: 50% !important;
}

.searched-recipes-list {
  margin: auto !important;
}

.letter-spacing {
  letter-spacing: 0.5px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gallery-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.container {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.book-div {
  width: 480px;
  height: 384px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.app-container {
  min-height: 50vh;
  height: 100%;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  border: 0.5px solid #94a89c;
}

.btn {
  background-color: none !important;
}

.btn {
  border: none !important;
}

.btn:hover {
  background-color: #94a89c !important;
  color: rgb(31, 55, 48) !important;
}

.btn-hero:hover {
  background-color: white !important;
  color: rgb(31, 55, 48) !important;
}

.text {
  font-size: 4.2rem;
  font-family: 'Montserrat', sans-serif;
}
.text2 {
  font-size: 1.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.text3 {
  font-family: 'Montserrat', sans-serif;
}
.text4 {
  font-size: 2.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.text5 {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.text6 {
  font-size: 0.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.searched-recipe-btn {
  margin-right: 0.15rem;
  background-color: rgb(31, 55, 48);
}

/* Modal */

.modal-text-overlay {
  max-height: 300px;
  font-size: 14px;
  overflow-y: auto !important;
}

/* Form controls */

.form-control:focus {
  border-color: #94a89c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(7, 53, 13, 0.6);
}

/* Meal Plans */
.meal-plans-title {
  color: rgb(6, 63, 47);
  color: white;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.meal-plan-title {
  margin-top: 1rem;
  font-size: 3rem;
  color: rgba(7, 53, 13, 0.6);
  /* font-family: 'Montserrat', sans-serif; */
}

.meal-plan-card {
  height: 250px;
  transition: transform 0.3s ease;
  padding: 0 1rem;
  color: rgb(4, 42, 31);
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
}

.plan-name {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(31, 55, 48);
}

.meal-plan-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #94a89c;
  color: white;
}

.meal-plan-back-to-meals-btn {
  margin-top: 2rem;
}

.custom-pagination .page-link {
  background-color: #94a89c;
  border-color: #94a89c;
}

.custom-pagination .page-link:hover {
  background-color: rgba(7, 53, 13, 0.6);
  border-color: rgba(7, 53, 13, 0.6);
}

.custom-pagination .page-item.active .page-link {
  background-color: rgba(7, 53, 13, 0.6);
  border-color: rgba(7, 53, 13, 0.6);
}

.custom-pagination .page-item.active .page-link {
  background-color: rgba(7, 53, 13, 0.6);
  border-color: rgba(7, 53, 13, 0.6);
}

.custom-pagination .page-item.active .page-link {
  background-color: rgba(7, 53, 13, 0.6);
  border-color: rgba(7, 53, 13, 0.6);
}

.custom-pagination a {
  color: rgba(6, 30, 9, 0.6) !important;
}

.title-list {
  list-style: circle;
}
