:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
  height: 100%;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./Images/PublicImages/bg-food-img.jpg');
  /* url('./Images/PublicImages/banner.png'); */
  opacity: var(--mainOpacity);
  height: 25em !important;
  background-size: cover;
  filter: brightness(1.5);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-main {
  min-height: 65vh;
}

.main-color {
  background-color: rgb(36, 82, 56);
  background-color: rgb(6, 63, 47);
}
.main-color-text {
  color: rgb(6, 63, 47);
  font-weight: bold;
  text-decoration: none !important;
}

.gray-link {
  color: rgb(251, 249, 248);
  text-decoration: none;
}

.col-image-left {
  background-image: url('./Images/PublicImages/hero-image-1.png');
  height: 38em !important;
  background-size: cover;
  background-position: center center;
}

.col-image-right {
  background-image: url('./Images/PublicImages/hero-image-2.png');
  background-image: url('./Images/PublicImages/hero-image-2.png');
  height: 38em !important;
  background-size: cover;
  background-position: center center;
}

.hero-container {
  margin: 0 2rem;
}

.container-dash {
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(${backgroundImage}); */
  background-size: cover;
  min-height: 70vh;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
}

.row-dash {
  width: 50%;
  margin: auto;
}

.search-bar {
  width: 50% !important;
}

.searched-recipes-list {
  margin: auto !important;
}

.letter-spacing {
  letter-spacing: 0.5px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gallery-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.container {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.book-div {
  width: 480px;
  height: 384px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.app-container {
  min-height: 50vh;
  height: 100%;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  border: 0.5px solid #94a89c;
}

.btn {
  background-color: none !important;
}

.btn {
  border: none !important;
}

.btn:hover {
  background-color: #94a89c !important;
}

.searched-recipe-btn {
  margin-right: 0.15rem;
  background-color: rgb(31, 55, 48);
}

.div {
  background-color: red;
  border: solid 2px black;
  margin: 0 20px;
}
